body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.top-bar {
  background-color: #999;
  color: #ccc;
  padding: 10px 100px;
}

.left-section {
  display: inline-block;
}
.right-section {
  display: inline-block;
  float: right;
}

.header {
  padding: 10px 100px;
  height: 100px;
}

.logo-section {
  display: inline-block;
}

#nav-section {
  display: inline-block;
  float: right;
  padding: 40px 0;
}

ul.nav-list {
  margin: 0;
}

ul.nav-list li {
  display: inline;
}

ul.nav-list li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.banner {
  background: url("../images/banner-bg.png") repeat;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 100px 80px 100px;
}

.banner-info {
  display: inline-block;
  width: 50%;
}
.banner-img {
  display: inline-block;
  float: right;
  width: 50%;
}

.search {
  margin: 0 100px;
  padding: 32px 36px;
  margin-top: -70px;
  box-shadow: 1px 1px 2px 2px #ccc;
  text-align: center;
  background-color: #fff;
}

.search-group input {
  width: 800px;
  height: 50px;
  margin: 0;
  box-shadow: 1px 1px 2px 2px #ccc;
  border: none;
} 

.search-group button {
  width: 200px;
  height: 55px;
  background-color: #2476e6;
  color: #fff;
  margin: 0;
  border: 0;
}

.get-started button {
  width: 250px;
  height: 55px;
  background-color: #2476e6;
  color: #fff;
  margin: 0;
  border: 0;
}


.text {
  padding-top: 30px;
}
.text-color1 {
  margin: 10px;
  font-family: Arial;
  color: blue;
}

.text-color2 {
  margin: 10px;
  font-family: Arial;
  color: green;
}

.text-color3 {
  margin: 10px;
  font-family: Arial;
  color: red;
}
.text-color4 {
  margin: 10px;
  font-family: Arial;
  color: darkblue;
}
.text-color5 {
  margin: 10px;
  font-family: Arial;
  color: lightgreen;
}
.text-color6 {
  margin: 10px;
  font-family: Arial;
  color: black;}
.page {
  margin: 0 100px;
  padding: 32px 36px;
  vertical-align: top;
}
.left-group {
  display: inline-block;
  width: 8%;
  vertical-align: top;
  height: 100%;
 
}
.center-group {
  display: inline-grid;
  width: 45%;
  background-color: #2476e6;
  vertical-align: top;
  height: 100% !important;
}
.left-imgs {
  margin: 80px 10px 0 20px;
}

.right-group {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  height: 100%;
}

.h1-font {
  font-family: Arial;
  color: white;
  margin: 30px;
}
.h2-font {
  font-size: 14px;
  font-family: Arial;
  color: white;
  margin: 20px;
}
.h3-font {
  font-size: 12px;
  font-family: Arial;
  color: white;
  margin: 20px;
}

.right-gp1 {
  font-family: 'Verdana';
  font-size: 25px;
  font-weight: bold;
  color: rgb(61, 115, 167);
}
.right-gp2 {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.right-gp3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: black;
}

.img-div {
  margin: 50px 100px;
  box-shadow: 0 3px 3px 3px #ccc;
  padding: 32px 36px;
  background-color: #fff;
}
.img-section {
  display: inline-block;
  width: 32%;
  height: 150px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 0 0 0 #ccc;
  border: none;
}
.img-div-p {
    text-align: center;
  font-weight: bold;
  font-family: Arial 16px;
}

.parent-div{
    background-color: #eee;
    margin: 50px 100px;
    padding: 50px 100px;
}

.row{
  display: block;  
  margin: 10px 50px;
  background: url("../images/bg-color.png") repeat ;
    
}



.col1 {
    display: inline-block;
    margin: 10px 12px;
    vertical-align: top;
}
 
.col2{
    display: inline-block;
    margin: 1opx 2px;
}

.img-tick
{
  display: inline-block;
  margin: 0 1px;

}
.img-tick-p
{
  display: inline-block;
  text-align:justify;
  margin-right: 30px;
}


.col3{
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.row1{
  display: block;  
  margin: 10px 50px;
  
  text-align: center;
}

.row2{
  display: block;  
  padding: 0 220px;

}

.col5{
  padding: 0 20px;
  display: inline-block;
  box-shadow: 2px 0 2px 2px lightgrey;
  
}

.col4{
display:grid;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 text-align: center;
 padding: 20px;
 
}

.col6{
   display:grid;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   
   
  }

  .page5
  {
    display: block;  
    background: url("../images/bg-color.png") repeat ;
    text-align: center;
    width: 100%;
}  


.page5-row1
  {
   margin: 20px 50px;
  text-align: center;    
  }


.page5-shadow
  {
    display: inline-block;
    box-shadow: 1px 3px 3px 5px grey; 
    border: none;
    
    background-color: #fff;

  }
.page5-row2
  {
    display: inline-block;

  }
  .col8
  {
    display:inline-block;
    text-align: left;
    background-color: #fff;
    padding: 40px 10px;
    font-family: 'Verdana';
    line-height: 20px;
    font-size: 12px;
    vertical-align: top;
    margin: 30px 10px;
  }
.w-50{
    width: 48%;
}

.w-33{
    width: 32%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
    display: inline-block;
}

.w-10{
  width: 10%;
  display: inline-block;
}
.w-5{
  width: 5%;
  display: inline-block;
}


/* .my-girija{
    font: 50px red Arial bold !important;
    padding: 20px;
    padding-top: 100px;
    line-height: 50px;

    text-align: center;
    margin: 40px;

}

#gov{
    color: blue;
    background-color: red;
}

div{
    background-color: #cccc;
    border: 1px solid red;
    color: green;
    font-size: 24px;
}

p{
    background-color: #cccc;
    border: 1px solid green;
}


#name{
    font-size: 18px;
}

.my-class{
    background-color: blue;
}
 */
