body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.top-bar{
    background-color: #999;
    color: #ccc;
    padding: 10px 100px;
}

.left-section{
    display: inline-block;

}
.right-section{
    display: inline-block;
    float:right;
}

.header{
    padding: 10px 100px;
    height: 100px;
}

.logo-section{
    display: inline-block;
}

#nav-section{
    display: inline-block;
    float: right;
    padding: 40px 0;
}

ul.nav-list {
    margin: 0;
}

ul.nav-list li {
    display: inline;
}

ul.nav-list li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 10px 15px;
    text-transform: uppercase;
    cursor:pointer;
}

.banner{
    background: url('../images/banner-bg.png') repeat;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 100px 80px 100px;
}

.banner-info{
    display: inline-block;
    width: 50%;
}
.banner-img{
    display: inline-block;
    float: right;
    width: 50%;
}

.search{
    margin: 0 100px;
    padding: 32px 36px;
    margin-top: -70px;
    box-shadow: 1px 1px 2px 2px #ccc;
    text-align: center;
    background-color: #fff;
}

.search-group input{
    width: 800px;
    height: 50px;
    margin: 0;
    box-shadow: 1px 1px 2px 2px #ccc;
    border: none;
}


.search-group button{
    width: 200px;
    height: 55px;
    background-color: #2476E6;
    color: #fff;
    margin: 0;
    border: 0;

}



/* .my-girija{
    font: 50px red Arial bold !important;
    padding: 20px;
    padding-top: 100px;
    line-height: 50px;

    text-align: center;
    margin: 40px;

}

#gov{
    color: blue;
    background-color: red;
}

div{
    background-color: #cccc;
    border: 1px solid red;
    color: green;
    font-size: 24px;
}

p{
    background-color: #cccc;
    border: 1px solid green;
}


#name{
    font-size: 18px;
}

.my-class{
    background-color: blue;
}
 */
